<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <title>To Mars!</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://c-7npsfqifvt34x24jx2eebjmznbjmx2edpx2evl.g00.dailymail.co.uk/g00/3_c-7x78x78x78.ebjmznbjm.dp.vl_/c-7NPSFQIFVT34x24iuuqtx3ax2fx2fj.ebjmznbjm.dp.vlx2f2tx2f3120x2f13x2f33x2f23x2f21253213-7844766-jnbhf-b-73_2661949504217.kqhx3fj21d.nbslx3djnbhf_$/$/$/$/$/$/$">
</head>

<body class="body-background" background="https://images.unsplash.com/photo-1535418126925-0bfb3a0ee0d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" >

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Mars Scraper</a>
        <ul class="navbar-nav mr-auto">
            <li>
                <a role="button" class="btn btn-secondary" href="/scrape">Scrape</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
      
        <br>
        
        <div class="row">

            <div class="col-md-7 col-xs-12">
                
                <div class="row">
                    <div class="jumbotron border border-none">
                        <h5>NASA Mars News</h5>
                        <h2>{{news}}</h2>
                        <p>{{news_para}}</p>
                    
                        <h2>The Mars Curiosity Weather Report</h2>
                        <p>{{mars_weather}}</p>
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="jumbotron border border-none">
                        <h3>Jet Propulsion Lab's Featured Image</h3>
                        <img class="img-fluid rounded" src="{{featured_image}}" alt="JPL's featured image">
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-xs-12">
                <div class="table-responsive">
                <font color="white">
                    {{table|safe}}
                </font>
                </div>
            </div>
            
            <div class="col-12">
                <div class="row pb-2">
                    <div class="col-md-6 col-xs-12 px-1 pb-2">
                        <div class="container">
                            <h5 class="text-center text-white">{{hemisphere[0].title}}</h5>
                            <img class="img-fluid" src="{{hemisphere[0].img_url}}" alt="{{hemisphere[0].title}} image">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 px-1">
                        <div class="container">
                            <h5 class="text-center text-white">{{hemisphere[1].title}}</h5>
                            <img class="img-fluid" src="{{hemisphere[1].img_url}}" alt="{{hemisphere[1].title}} image">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 px-1 pb-2">
                        <div class="container">
                            <h5 class="text-center text-white">{{hemisphere[2].title}}</h5>
                            <img class="img-fluid" src="{{hemisphere[2].img_url}}" alt="{{hemisphere[2].title}} image">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 px-1">
                        <div class="container">
                            <h5 class="text-center text-white">{{hemisphere[3].title}}</h5>
                            <img class="img-fluid" src="{{hemisphere[3].img_url}}" alt="{{hemisphere[3].title}} image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

     
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
</body>
</html>


